[push]
	default = simple

[user]
# set email in $HOME/.config/git/config
	name = Joe Kearney

[color]
  diff = always
  status = auto
  branch = auto
  interactive = auto
  ui = always
  pager = true
	[diff-highlight]
		oldNormal = "red bold"
		oldHighlight = "red bold 52"
		newNormal = "green bold"
		newHighlight = "green bold 22"

[pager]
	diff = "diff-so-fancy | less --tabs=1,5 -RFX"
	show = "diff-so-fancy | less --tabs=1,5 -RFX"

[alias]
  co = checkout
  st = status
  hist = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	hub = "!f() { $DOT_FILES_DIR/git/git-hub-clone.sh \"$@\"; }; f"
	unstash = stash apply
	current-branch = rev-parse --abbrev-ref HEAD
	new-branch = checkout -b
	push-upstream = "!f() { git push --set-upstream origin $(git current-branch); }; f"
	gi = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	gi-standard = "!g() { git gi eclipse,intellij,osx,scala,java,maven; }; g"
	repodir = "!f() { git rev-parse --show-toplevel; }; f"
	ignore = "!gi() { echo $@ >> $(git repodir)/.gitignore; }; gi"
	ls = ls-tree --name-only HEAD
